html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Montserrat', sans-serif; */

main, header {
	width: 75%;
	height: auto;
	margin: 50px auto;
	display: flex;
	flex-flow: row wrap;
	/* background: red; */
}
main {
	align-items: center;
	justify-content: space-around;
}
header div {
    width: 100%;
    margin-left: 0;
    margin-right: 100px;
}
header {
	flex-flow: row nowrap;
}
header h1 {
	font-family: 'PT Serif', serif;
	font-weight: 700;
	font-size: 36px;
	margin: 25px 0;
}
header h2 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
	margin: 25px 0;
}
header p {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	margin: 14px 0;
	line-height: 21px;
}
.card {
	position: relative;
	width: 30%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.card:nth-child(2n+1) {
    margin-top: 0;
    margin-bottom: 100px;
}
.card img {
	width: 80%;
	height: auto;
}
.card h5 {
    position: absolute;
    right: 0px;
    top: 0;
    writing-mode: vertical-lr;
    font-family: 'PT Serif', serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
	margin: 0px 20px;
}
.card h3 {
    font-size: 18px;
    font-weight: 600;
	margin-top: 20px;
}

.footer-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 350px;
    height: 17px;
}

.created {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD
}

.username {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    Line-height: 17.07px;
    text-align: Center;
    color: #BDBDBD;
    text-decoration: underline;
}

@media only screen and (max-width: 750px) {
	main header {
		width: 95%;
		margin: 20px auto;
	}
}



@media only screen and (min-width: 770px) {
	main header {
		margin: 40px auto;
		width: 80%;
	}
	main {
		margin: 40px auto;
		align-items: center;
		align-content: space-around;
	}
	.card {
		position: relative;
		width: 30%;
	}
	.card img {
		width: 75%;
	}
}
@media only screen and (min-width: 1000px) {
	main header {
		margin: 40px auto;
		width: 60%;
	}
}
